In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [4]:
df.assign?

In [5]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]},
                   index=['Portland', 'Berkeley'])
df

          temp_c
Portland    17.0
Berkeley    25.0

In [7]:
df.assign(temp_f = lambda x : x["temp_c"] * 9 / 5 + 32)

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [10]:
df["temp_f"] = df["temp_c"] * 9 / 5 + 32
df

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

In [11]:
pd.qcut?
# pd.qcut(df.col, n, labels=False)

In [12]:
pd.qcut(range(5), 4)

[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] < (2.0, 3.0] < (3.0, 4.0]]

In [13]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [14]:
df.max(axis=1) # max in columns

Portland    62.6
Berkeley    77.0
dtype: float64

In [15]:
df.max(axis=0) # max in rows

temp_c    25.0
temp_f    77.0
dtype: float64