In [16]:
import pandas as pd

df = pd.DataFrame(
            {"a" : [4 ,5, 6,6],
            "b" : [7, 8, 9,9],
            "c" : [10, 11, 12,12]},
            index = pd.MultiIndex.from_tuples(
            [('d',1),('d',2),('e',2),('e',3)],
            names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [4]:
# df[df.Length > 7] : Length 컬럼이 없어서 에러 발생
df[df.a > 7]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [5]:
df[df.b > 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [6]:
df.b > 7

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

In [19]:
df = df.drop_duplicates() # 중복행 제거

In [18]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [29]:
# 옵션 파라메터 보기
df.drop_duplicates?

In [30]:
df = pd.DataFrame(
            {"a" : [4 ,5, 6,6],
            "b" : [7, 8, 9,9],
            "c" : [10, 11, 12,12]},
            index = pd.MultiIndex.from_tuples(
            [('d',1),('d',2),('e',2),('e',3)],
            names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [31]:
df.b != 7

n  v
d  1    False
   2     True
e  2     True
   3     True
Name: b, dtype: bool

In [32]:
df[df.b != 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  6  9  12